:root {
  --max-height-tablet: 3000px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.card {
  width: 7%;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  flex-grow: 1;
  opacity: 0.2;
}

.card:hover {
  transform: scale(0.97);
}

.selected {
  opacity: 1;
}

/* 
@media (max-width: 704px) {
  .cards {
    max-height: var(--max-height-tablet);
    flex-direction: column;
  }

  .card {
    height: calc(var(--max-height-tablet) / 14);
    width: fit-content;
    flex-grow: 1;
  }
} */
